body {
  margin: 0px;
  background-color: #f3f2ef;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  color: #3a3a3a;
}

.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* padding-left: 20px;
  padding-right: 20px; */
  padding-left: 2vw;
  padding-right: 2vw;
  flex: 1;
}

.job-card {
  border-radius: 8px;
  background-color: white;
  padding: 25px 25px 15px 25px;
  cursor: pointer;
  position: relative;
  top: 0;
  transition: 0.2s;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  min-width: 410px;
  flex: 1;
  margin-bottom: 10px;
}

.job-card:hover {
  top: -3px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.job-card:focus {
  outline: #1fc76a 3px solid;
}

.job-card-left-middle-flex-container {
  display: flex;
  gap: 10px;
}

.job-card-middle {
  min-width: 250px;
}

.job-card-right {
  max-width: 100px;
}

.job-card-flex-container {
  display: flex;
  flex-direction: column;
}

.top-portion-flex-container {
  display: flex;
  justify-content: space-between;
}

.company-logo {
  width: 45px;
  height: 45px;
  border-radius: 4px;
}

.btm-portion-flex-container {
  max-width: 410px;
}

.tech-stacks-flex-container {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tech-stack-button {
  margin-right: 3px;
  color: #838383;
  padding: 5px 8px;
  display: inline-block;
  max-width: 90%;
  font-family: "Roboto Mono", "Consolas", monospace;
  font-weight: bold;
  border-radius: 5px;
  background-color: #f1f1f1;
  /* overflow: hidden; */
  /* white-space: nowrap; */
}

.role-button {
  max-width: 80px;
  color: #1fc76a;
  font-family: "Roboto Mono", "Consolas", monospace;
  padding: 5px 8px;
  font-weight: 600;
  border-radius: 5px;
  background-color: #ddf7e9;
  width: max-content;
}

.svg-icon {
  height: 1em;
  vertical-align: -0.125em;
}

.role-title {
  font-size: 16px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  margin: 0px;
  margin-top: 3px;
  margin-bottom: 3px;
  max-width: 250px;
  max-height: 50px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.country {
  font-size: 14px;
  color: #838383;
}

.posting-date {
  font-size: 14px;
  color: #838383;
  padding-right: 8px;
  /* color: #1fc76a;
  font-weight: bold; */
}

.company-title-and-ratings-flex-container {
  margin-bottom: 2px;
  display: flex;
  align-items: center;
}

.company-title {
  font-size: 14px;
  margin-top: 1px;
}

.rating {
  font-size: 13px;
  padding-left: 10px;
}

.salary {
  font-size: 14px;
  margin: 9px 0px;
  font-weight: 600;
}

hr {
  border: 0.1px solid #f1f1f1;
}

/* Right Panel - Job Details */

.job-details {
  font-size: 20px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  min-height: 690px;
  border-radius: 8px;
  background-color: white;
  flex-basis: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.job-pagination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin-top: 18px;
}

.page-text {
  font-size: 13.6px;
  color: #3a3a3a;
}

.page-square-button-1,
.page-square-button-2 {
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  color: #1fc76a;
  background-color: white;
  border: 1px solid #dee2e6;
}

.page-square-button-1 {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-square-button-2 {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page-square-button-1:hover,
.page-square-button-2:hover {
  background-color: #f1f1f1;
  transition: 0.2s;
}

.page-square-button-1:focus,
.page-square-button-2:focus {
  background-color: #1fc76a;
  color: white;
  transition: 0.2s;
  outline: none;
}

.page-square-buttons-container {
  display: flex;
}

.footer-container {
  font-size: 12px;
  color: black;
  text-align: center;
  max-height: 110px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: absolute;
  bottom: 0%;
  margin-bottom: 25px;
}

.footer-container p {
  margin: 0px;
}

.footer-container .icons {
  font-size: 20px;
  display: flex;
  gap: 15px;
  margin: 0px;
}

.footer-container .icons .linkedin:hover {
  transform: scale(1.1, 1.1);
  transition: transform 0.5s ease;
}

.footer-container .icons .github:hover {
  transform: scale(1.1, 1.1);
  transition: transform 0.5s ease;
}

/* Tablet View */

@media screen and (max-width: 1010px) {
  .job-details {
    display: none;
  }

  .job-lists {
    flex: 1;
  }

  /* .job-card {
    display: flex;
    flex: 1;
  } */

  .panel-flex-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex: 1;
  }

  .top-portion-flex-container {
    display: flex;
    justify-content: space-between;
    /* gap: 10px; */
    /* position: relative; */
    /* z-index: 10; */
  }

  .role-title {
    max-width: none;
    width: none;
    /* max-width: 500px; */
  }

  .job-card {
    min-width: auto;
  }

  .job-card-middle {
    min-width: auto;
  }

  .job-card-middle {
    max-width: none;
    width: none;
    /* max-width: 500px; */
  }

  .role-button {
    max-width: 220px;
    /* max-width: none; */
  }

  .job-card-right {
    max-width: 240px;
    text-align: end;
    float: right;

    /* position: absolute;
    right: 0%;
    z-index: 10; */
    /* max-width: none; */
  }

  .btm-portion-flex-container {
    /* min-width: 440px; */
    max-width: 80vw;
    /* max-width: none;
    width: none; */
  }

  /* .job-card-right { */
  /* justify-self: flex-end; */
  /* align-self: flex-end; */
  /* align-items: flex-end; */
  /* align-self: baseline; */
  /* position: absolute; */
  /* position: relative; */
  /* text-align: end; */
  /* right: 10px; */
  /* right: 0%; */
  /* text-align: right; */
  /* } */
}

/* Mobile View */

@media screen and (max-width: 440px) {
  .job-card-left-middle-flex-container {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .job-card-right {
    position: relative;
  }

  .role-button {
    position: absolute;
    right: 0%;
  }

  .footer-container {
    display: none;
  }
}
